#div_digg{
  position:fixed;
  bottom:5px;
  width:140px;
  right:30px;
  border:2px solid #085;
  padding:10px;
  background-color:#fff;
  border-radius:5px 5px 5px 5px !important;
  box-shadow:0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
  transition-duration: 0.5s;
}
#div_digg:hover{
  opacity:1;
}

.postBody{
  font-size:14px;
}

#AllanboltSignature
{ 
border-top: #e0e0e0 1px dashed;
border-right: #e0e0e0 1px dashed;
border-bottom: #e0e0e0 1px dashed;
border-left: #e0e0e0 1px dashed;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: 微软雅黑;
font-size:11px;
}
#AllanboltSignature div
{
line-height: 25px;
}